.SignUp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    width: 50vh;
    height: 70vh;
    background-color: white;
    border-radius: 2%;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
}

.Signed{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 5%;
    width: 50vh;
    height: 50vh;
    background-color: white;
    border-radius: 2%;
}

@media screen and (orientation:portrait) {
    .SignUp, .Signed{
        width: 75vw;
        height: 75vh;
        padding: 5%;
    }
}

